@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}


.wrapper {
  min-width: 300px;
  min-height: 300px;
  @apply bg-gray-900 flex flex-col p-3 h-full rounded
}

.title {
  @apply font-sans text-xl mb-3
}

.text, label, span {
  @apply font-sans text-base mb-1 leading-8
}
.text-small {
  font-size: 0.75rem;
}

label {
  @apply mb-2
}

.btn-key {
  @apply bg-zinc-600;
  border-color: #9ca3af;
  border-width: 1px;
  border-radius: 2px;
  height: 1.25rem;
  margin-right: 0.25rem;
  padding: 4px;
}
